.headerbackground {
    background-color: #4257b2;
}

.headermargin {
    margin-left: 35%;
}

.flexmargin {
    margin-top: 10%;
}

.formmargin {
    margin-top: 5%;
}

.homebutton {
    margin-left: 75%;
    margin-top: 8%;
}